@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");

body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #131314;
    /*
    background: url(./images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    */
    height: 100vh;
    color: #FFF;
    margin:0;
    padding:0
}

h1,h2,h3,h4,h5 {
    font-weight: 300;
}

hr {
    margin: 25px 0 25px 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}

.about {
    margin: 0;
}

p, li {
    font-weight: 300;
}

a {
    color: #00c6fb;
    text-decoration: none;
}

.button {
    padding: 2px 5px 4px 5px;
    position: relative;
    transition: all .15s cubic-bezier(.22,.61,.36,1);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #b0b0c4;
}

.button:hover {
    color: #fff;
}

.button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 1px;
    right: 0;
    background: linear-gradient(135deg, #005bea 0%, #00c6fb 100%);
    transition: width .2s ease;
}

.button:hover::before, .button.active::before {
    width: 100%;
    left: 0;
}

.spaced {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lottie {
    /* ensure no jumping before loaded in, same as ae export size */
    max-height: 200px;
    max-width: 711px;
    margin-top: -20px;
}

#card {
    margin: 0px 20px 0px 20px;
    padding: 30px 30px 30px 30px;
    border: 1px solid rgba(216, 238, 252, 0.3);
    border-radius: 5px;
    background: none;
    transition: all 1s cubic-bezier(.22,.61,.36,1);
    max-width: 400px;
    min-width: 0px;
    opacity: 0;
    transform: translate(0, -10px);
}

#card.visible {
    opacity: 1;
    transform: translate(0, 0);
}

#card:hover {
    background-color: rgba(216, 238, 252, 0.02);
}

.links {
    margin-top: -30px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.links p {
    max-width: 400px;
    width: 100%;
    padding: 0 4px 0 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.links p a {
    animation: fadein 1s cubic-bezier(.22,.61,.36,1);
    animation-fill-mode: both;
}

.links p a:nth-child(1) { animation-delay: 1.5s }
.links p a:nth-child(2) { animation-delay: 1.6s }
.links p a:nth-child(3) { animation-delay: 1.7s }
.links p a:nth-child(4) { animation-delay: 1.8s }
.links p a:nth-child(5) { animation-delay: 1.9s }

@keyframes fadein { 
    from {
        opacity: 0;
        transform: translate(0, -10px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

br {
    display: inline-block;
    margin: 6px 0;
}
