body {
 font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
 -webkit-font-smoothing:antialiased;
 background: url(./images/bg.jpg);
 background-attachment: fixed;
 background-size: cover;
 height: 100vh;
 color: #FFF;
 line-height:1;
 margin:0;
 padding:0
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
}

hr {
  margin: 25px 0 25px 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

.about {
  margin-top: 15px;
  line-height: 24px;
}

p, li {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #A1C7FF;
}

.button {
  padding: 2px 5px 4px 5px;
  background-image: linear-gradient(to right, #A1C7FF, #A1C7FF);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 5%;
  transition: all .05s ease-out;
}

.button:hover {
  opacity: 1;
  color: #000000;
  background-size: 100% 100%;
}

.spaced {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card {
  margin: 0px 20px 100px 20px;
  padding: 30px 30px 30px 30px;
  border: 1px solid rgba(216, 238, 252, 0.3);
  border-radius: 5px;
  background: none;
  transition: all .2s ease-out;
}

.card:hover {
  background-color: rgba(216, 238, 252, 0.02);
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.bullet {
  opacity: 0.3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}
